@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* Variables */
:root {
  --font-family: "Inter", sans-serif;
  --normal-font: 400;
  --semi-bold: 600;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #000000;
  --primary-color: #ABABAB;
  --secondary-color: #EBEBEB;
  --third-color: #FFFFFF;
  --primary-button-color: #F5F6F5;
  --secondary-shadow: #FFE500;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --primary-box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.4);
  --secondary-box-shadow: 0 0 40px 0 rgba(255, 229, 0, 0.6);
  --footer-color: #262626;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--primary-color);
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

body {
  font-family: var(--font-family);
  min-height: 100vh;
}

/* Navbar styling */

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 2.25px 5px 0 rgba(255, 255, 255, 0.2);;
}

nav h1 {
  color: var(--third-color);
  display: block; 
  font-size: 1.5rem; 
}


nav a {
  color: var(--third-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--third-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* Hero Section */

.hero-section {
  color: #ABABAB;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--bg-color);
  padding: 40px 0;
}

.hero-section h1 {
  background-image: linear-gradient(45deg, #EADCF4, #DCDDF4 30%, #B6C5F8 30%, #8774F5 40%, #E17191);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: block;
  font-size: 75px;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  padding-top: 60px;
  padding-bottom: 30px;
}


.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 600;
  margin: 0.5em 0;
}

.location-icon {
  height: 1rem;
  width: auto;
}

.hero-description {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

.hero-section a {
  font-weight: bold;
}

/* Trusted by these companies */
.trusted {
  background-color: var(--bg-color);
  text-align: center; 
  padding: 40px 0; 
}

.trusted img {
  max-width: 80%; 
  height: auto; 
  margin: 0 10px;
}

.trusted-text {
  color: var(--third-color); 
  margin-bottom: 20px; 
  font-size: 1.2em; 
  font-weight: 600px;
}

/* About me section */
.more-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  margin-top: 2rem;
  padding: 40px 40px;
}

.more-about-content {
  max-width: 40.75rem;
  min-width: 44%;
  margin: 0 auto;
  border-radius: 20px; 
  padding: 30px;
  box-shadow: var(--primary-box-shadow);
  background-image: url('../graphics/blog_moreabout.svg');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position-x: right; 
}

.more-about-title {
  font-size: 30px;
  font-weight: bold;
  color: var(--third-color);
  padding-bottom: 2px;
  background-color: var(--bg-color); 
  display: inline-block;
}

.more-about-subtitle {
  font-size: 16px;
  font-weight: var(--semi-bold);
  color: var(--primary-color);
  display: block; 
}

.more-about-description {
  font-size: 16px;
  margin: 20px 0;
  color: var(--primary-color);
  max-width: 60%;
}

.more-about-button {
  background-color: var(--primary-button-color);
  color: var(--bg-color);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
  transition: 0.3s ease;
}

.more-about-button:hover {
background-color: var(--primary-button-color);
}

/* Skills section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
  color: var(--third-color);
}

.skills-next {
  padding: 20px 0 0;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  border-radius: 11px;
  box-shadow: var(--primary-box-shadow);
  padding: 20px;
  margin: 20px 10px 10px;
}

/* Books section (on index.html) */
.books {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  margin-top: 2rem;
  padding: 40px 40px;
}

.books-container {
  max-width: 40.75rem;
  min-width: 44%;
  margin: 0 auto;
  border-radius: 20px; 
  padding: 30px;
  box-shadow: var(--primary-box-shadow);
  background-image: url('../graphics/books_moreabout.svg');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position-x: right; 
}

.books-title {
  font-size: 30px;
  font-weight: bold;
  color: var(--third-color);
  padding-bottom: 2px;
  background-color: var(--bg-color); 
  display: inline-block;
}

.books-index-description {
  font-size: 16px;
  margin: 20px 0;
  padding-bottom: 10px;
  color: var(--primary-color);
  max-width: 60%;
}

.books-button {
  background-color: var(--primary-button-color);
  color: var(--bg-color);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
  transition: 0.3s ease;
}

.books-button:hover {
background-color: var(--primary-button-color);
}

/* Projects section */
.projects {
  padding: 32px 0;
  margin-top: 2rem;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects h3 {
  color: var(--third-color);
}

.projects-title {
  color: var(--third-color);
}

.projects-title,
.project-title,
.project-details {
  text-align: center;
  margin-bottom: var(--bottom-margin); 
}

.project-container {
  width: 21.875rem;
  height: 500px; 
  padding: 1rem;
  text-align: center;
  border-radius: 11px;
  box-shadow: var(--primary-box-shadow);
  margin: 10px; 
  position: relative;
}

.project-pic {
  width: 65%; 
  height: 60%; 
  padding-top: 10px;
}

.project-container p {
  padding: 0.4rem;
}

.project-link {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
}



/* CONTACT SECTION */
.contact {
  margin-top: 2rem;
  padding: 0 1rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
  background-image: linear-gradient(#FFFFFF, #686868);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--third-color);
  display: block;
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
  color: var(--third-color);
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0.5rem;
  border-radius: 5px;
  font-size: 0.875rem;
  color: var(--third-color);
}

.input-field::placeholder {
  color: var(--secondary-color);
}

.submit-btn {
  color: var(--bg-color);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--third-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  color: var(--third-color);
}


/* Books page (books.html) */
#books-section h2 {
  background-image: linear-gradient(to bottom right, #DCDDF4, #97B2EF 5%, #8774F5 30%, #E17191 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: 50px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}

.books-description {
  font-size: 14;
  font-weight: var(--semi-bold);
  margin: auto;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 25px;
  width: 60%;
}

#books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.book-card {
  box-shadow: var(--primary-box-shadow);
  width: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 11px;
  background-color: var(--third-color);
}

.book-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding: 3px;
  background-color: var(--third-color);
}

.book-card h3 {
  margin: 10px 0 0;
  font-size: 18px;
  background-color: var(--third-color);
  color: var(--bg-color);
}

.books-space h3 {
  margin-top: 15px;
  text-align: center;
  padding: 15px;
  color: var(--third-color);
}

/* audio books section on books page */
#audiobooks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

/* future books */
.books-wishes {
  margin: 150px 0 60px;
}

.future-books {
  display: flex;
  align-items: center;
  padding: 25px;
  border-radius: 30px;
  background-color: var(--bg-color);
  box-shadow: var(--primary-box-shadow);
  color: var(--primary-color);
  width: 85%;
  margin: auto;
}

.gowish-logo {
  background-image: url('../graphics/gowish.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  margin-right: 20px;
}

.future-books-text {
  flex-grow: 1;
}

.future-books-text h2 {
  color: var(--third-color);
  margin: 0;
  font-size: 1.5em;
}

.future-books-text p {
  color: var(--primary-color);
  font-size: 0.8em;
  padding-top: 6px;
  width: 95%;
}



/* Blog page (blog.html) */
.blog-section h2 {
  background-image: linear-gradient(to bottom right, #DCDDF4, #97B2EF 5%, #8774F5 30%, #E17191 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 35px 0 25px;
  text-align: center;
  padding: 15px;
  font-size: 3em;
}

.blog-section h3 {
  text-align: center;
  margin: 10px 0 25px;
  font-weight: 800;
}

.blog-h3-gradient {
  background-image: linear-gradient(#FFFFFF, #686868);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.blog-section p {
  text-align: center;
  padding-bottom: 25px;
}

.blog-disclaimer {
  box-shadow: var(--secondary-box-shadow);
  width: 58%;
  margin: auto;
  border-radius: 30px;
}

.blog-container {
  border-radius: 30px;
  padding: 20px;
}


/* CV page (cv.html) */
.cv-content {
  max-width: 100%;
  padding: 0 20px; 
  margin-top: 100px; 
}

.cv-content header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 250px; 
}

.cv-title {
  background-image: linear-gradient(to bottom right, #DCDDF4, #97B2EF 5%, #8774F5 30%, #E17191 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 4em;
  margin: 0;
  padding-left: 0px; 
  position: relative;
  bottom: 0;
}

.cv-section h2 {
  font-size: 2em;
  border-bottom: 4px solid var(--secondary-color); 
  padding-bottom: 10px;
  margin-top: 40px;
  text-align: left;
  color: var(--third-color);
}

.cv-entry {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 10px;
}

.cv-entry, .cv-entry * {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  color: var(--third-color);
}

.cv-entry:hover {
  padding: 10px;
}

.cv-dates {
  flex-basis: 20%;
}

.cv-role-work-description p {
  padding-right: 5px;
}

.cv-details {
  flex-basis: 75%;
  padding-left: 20px; 
}

.cv-institution {
  font-weight: bold;
  margin-bottom: 5px;
}

.cv-study-subject {
  margin-bottom: 2px;
}

.cv-role-work {
    font-weight: bold;
  }

.cv-institution-work {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 3px;
}

.cv-role-work-description-title {
  font-weight: bold;
}

.cv-role-work-description {
  font-weight: normal;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--footer-color);
  padding: 20px;
  text-align: center;
  margin-top: 150px;
}

.footer-socials {
  order: 1; 
  background-color: var(--footer-color);
}

.footer-socials img {
  background-color: var(--footer-color);
  padding: 20px 10px 8px 10px;
  margin-top: 20px;
}

.footer-socials a {
  background-color: var(--footer-color);
  text-decoration: none;
}

.footer-text {

  font-size: 0.8em; 
  color: var(--primary-color);
  padding: 10px 0; 
  background-color: var(--footer-color);
}

.footer-image {

  align-self: flex-end; 
  background-color: var(--footer-color); 
  margin-bottom: 0px; 
  margin-right: 34px; 
  width: auto; 
  height: 50px; 
}

.footer-text, .footer-image {
  order: 2;
}


/* Additional media query to handle layout on smaller screens */
@media (max-width: 768px) {
  footer {
      flex-direction: column;
      background-color: var(--footer-color);
  }
  .footer-socials {
      margin-bottom: 20px;
      background-color: var(--footer-color);
  }
  .footer-image {
      margin-top: 20px;
      background-color: var(--footer-color);
  }
}





/* RESPONSIVENESS */
  /* hero section */
/* cv.html responsive styling */

@media (max-width: 780px) {
  .books-container{
  background: none;
  background-color: var(--bg-color); 
  }

  .more-about-content{
    background: none;
    background-color: var(--bg-color); 
    }
}


/*_________*/
  @media (max-width: 768px) {
    .hero-section {
      margin-top: -4rem;
      flex-direction: column;
      gap: 0;
    }
  
    .hero-section h1 {
      font-size: 24px; 
    }
  
    .location {
      gap: 4px; 
    }
  
    .hero-section p {
      padding: 0 1em; 
    }
  
    .hero-section img {
      height: auto;
    }

    .location-icon {
      height: 18px;
    }

    .cv-content {
      padding: 0 10px;
  }

  .cv-title {
      font-size: 3em; 
  }

  header {
      height: 100px; 
  }

  .cv-entry {
      flex-direction: column;
  }

  .cv-dates, .cv-details {
      width: auto;
  }
  
  .books {
    flex-direction: column;
    text-align: center;
    }
    
    .books-container {
    max-width: 100%;
    }
    
    .books-button {
    margin-bottom: 30px;
    }
    
    .more-about {
      flex-direction: column;
      text-align: center;
      }
      
      .more-about-content {
      max-width: 100%;
      }
      
      .more-about-button {
      margin-bottom: 30px;
      }
      
      .cv-section .cv-entry {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
      }
      
      .cv-section .cv-dates {
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      .cv-section .cv-details {
        border-left: 3px solid var(--secondary-color); 
        padding-left: 15px;
        margin-left: 10px;
        position: relative;
      }
      
      .cv-section .cv-description {
        margin-top: 10px;
      }
      
      .cv-description ul {
        margin-top: 10px; 
        list-style-type: disc; 
        padding-left: 20px; 
      }
      
      .cv-description li {
        margin-bottom: 5px; 
      }
}

@media screen and (max-width: 720px) {
  /* navbar */
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

   nav ul li {
    margin: 8px;
  }
  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  /* more about me */
  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
    color: var(--primary-color);
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  /* skills icons */
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  /* projects section */
  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  /* contact form */
  .contact-form-container {
    max-width: 23.75rem;
  }

  .contact-medias {
    max-width: 23.75rem;
  }
}


@media screen and (max-width: 580px) {
  .gowish-logo {
    display: none; 
  }
}

@media screen and (max-width: 420px) {
  .hero-section {
    margin-top: -4rem; 
  }

  .hero-section h1 {
    font-size: 20px; 
    margin: 0.5em 0; 
  }

  .location {
    font-size: 12px; 
  }

  .location-icon {
    height: 16px;
  }

  .hero-section p {
    font-size: 12px; 
  }

  .hero-section img {
    height: auto; 
    width: 100%; 
    max-width: 23rem; 
    margin: 0 auto; 
  }

  .bio {
    width: 100%; 
    max-width: 18.3rem; 
    margin: 0 auto; 
  }
  .project-container {
    max-width: 17.875rem;
  }
  
  .contact-form-container {
    max-width: 17.75rem;
  }
  
  .contact-medias {
    max-width: 17.875rem;
  }
}



