@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #000000;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

/* Navbar styling */

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* Hero Section */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}
.hero img {
  height: 24rem;
  width: 24rem;
  margin: 20px;
  margin-right: 40px;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

/* About me section */

.more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}

/* Skills section */

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Books section (on index.html) */
.books {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2.5rem;
}

.books h2 {
  text-align: center;
  padding: 20px;
  margin: auto;
}

.books-wrapper {
  max-width: 68.75rem;
  text-align: center;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 30px;
  margin: auto;
  border-radius: 11px;
}


/* Projects section */
.projects {
  padding: 32px 0;
  margin-top: 2rem;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title,
.project-title,
.project-details {
  text-align: center;
  margin-bottom: var(--bottom-margin); /* Apply consistent margin-bottom */
}

.project-container {
  width: 21.875rem;
  height: 500px; /* Define height here if all project containers are to be the same height */
  padding: 1rem;
  text-align: center;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  margin: 10px; /* Adjust or remove if you want different spacing around the cards */
  position: relative;
}

.project-pic {
  width: 65%; /* Consider changing to 100% if you want the image to cover the full width of the card */
  height: 60%; /* Adjust the height or consider using object-fit if you want to maintain the aspect ratio */
  object-fit: cover; /* Uncomment if you decide to use it */
  padding-top: 10px;
}

.project-container p {
  padding: 0.4rem;
}

.project-link {
  position: absolute;
  bottom: 20px; /* Adjust as necessary */
  left: 50%;
  transform: translateX(-50%);
  /* ... your existing properties for styling the link ... */
}



/* CONTACT SECTION */
.contact {
  margin-top: 2rem;
  padding: 0 1rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 3px 10px var(--primary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
  display: block;
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0.5rem;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  color: #fff;
}

.contact-medias {
  background-color: #8b8eaf;
  text-align: center;
  padding-top: 15px;
  color: #fff;
  max-width: 40.75rem;
  margin-left: auto; /* These two lines center the block horizontally */
  margin-right: auto;
  display: flex; /* Use flexbox for vertical centering if needed */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Align children in the center vertically */
  border-radius: 0 0 5px 5px;
  box-shadow: 0 3px 10px var(--primary-shadow);
}


.contact-medias-svg {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
.contact-medias img {
  width: 30px;
  height: 30px;
}




/* Books page (books.html) */
#books-section h2 {
  margin-top: 15px;
  text-align: center;
  padding: 15px;
}

#books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.book-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 11px;
}

.book-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding: 3px;
}

.book-card h3 {
  margin: 10px 0 0;
  font-size: 18px;
}

.books-space h3 {
  margin-top: 15px;
  text-align: center;
  padding: 15px;
}

/* audio books section on books page */
#audiobooks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


/* Blog page (blog.html) */
#blog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.blog-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 15px;
  text-align: center;
  border-radius: 11px;
}

.blog-card-inner {
  box-shadow: 0 3px 10px var(--secondary-shadow);
  width: 300px;
  padding: 10px;
  text-align: center;
  border-radius: 11px;
}

.blog-card img {
  width: 100%;
  height: auto;
}

.blog-card h3 {
  margin: 10px 0 0;
  font-size: 18px;
}

.blog-space h3 {
  margin-top: 15px;
  text-align: center;
  padding: 15px;
}


/* CV page (cv.html) */
.cv-content {
  max-width: 100%;
  padding: 0 20px; /* Adds padding to the left and right */
  margin-top: 100px; /* Adds space between navbar and CV content */
}

.cv-content header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 250px; /* Gives space for the 'CV' title */
}

.cv-title {
  font-size: 4em;
  margin: 0;
  padding-left: 0px; /* Adjust if more space needed */
  position: relative;
  bottom: 0;
  color: #333; /* Your website's title color */
}

.cv-section h2 {
  font-size: 2em;
  border-bottom: 4px solid #ddd; /* Color of your choice */
  padding-bottom: 10px;
  margin-top: 40px;
  color: #333; /* Your website's section heading color */
  text-align: left;
}

.cv-entry {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 10px;
}

.cv-entry, .cv-entry * {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.cv-entry:hover {
  background-color: #f4f4f4; /* Change as per your color theme for hover effect */
  padding: 10px;
}

.cv-dates {
  flex-basis: 20%;
  color: #666; /* Your website's date color */
}

.cv-role-work-description p {
  padding-right: 5px;
}

.cv-details {
  flex-basis: 75%;
  padding-left: 20px; /* Based on your website's design */
}

.cv-institution {
  font-weight: bold;
  color: #333; /* Your website's institution name color */
  margin-bottom: 5px;
}

.cv-study-subject {
  margin-bottom: 2px;
}

.cv-role-work {
    font-weight: bold;
  }

.cv-institution-work {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 3px;
}

.cv-role-work-description-title {
  font-weight: bold;
}

.cv-role-work-description {
  font-weight: normal;
}


.cv-location {
  color: #666; /* Your website's location color */
}

/* cv.html responsive styling */
@media (max-width: 768px) {
  .cv-content {
      padding: 0 10px;
  }

  .cv-title {
      font-size: 3em; /* Smaller size for mobile */
  }

  header {
      height: 100px; /* Less space on mobile */
  }

  .cv-entry {
      flex-direction: column;
  }

  .cv-dates, .cv-details {
      width: auto;
  }
}

.cv-section .cv-entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.cv-section .cv-dates {
  font-weight: bold;
  margin-bottom: 5px;
}

.cv-section .cv-details {
  border-left: 3px solid #333; /* Adjust color as needed */
  padding-left: 15px;
  margin-left: 10px;
  position: relative;
}

.cv-section .cv-description {
  margin-top: 10px;
}

.cv-description ul {
  margin-top: 10px; /* Adds a little space above the list */
  list-style-type: disc; /* Other options include disc, square, etc. */
  padding-left: 20px; /* Gives space for bullet points */
}

.cv-description li {
  margin-bottom: 5px; /* Adds space between list items */
}



/* FOOTER */
footer {
  position: relative; /* Set relative positioning for the footer */
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

footer .footer-image {
  position: absolute; /* Absolute position for the SVG */
  right: 10px; /* Adjust the right position to your preference */
  bottom: 10px; /* Adjust the bottom position to your preference */
  width: 150px; /* Set a fixed width for your SVG */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px;
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
  footer .footer-image {
    display: none; /* Hide the SVG on smaller screens */
  }
}

footer:after {
  content: "";
  display: table;
  clear: both;
}




/* RESPONSIVENESS */
@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/

  /* navbar */
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

   nav ul li {
    margin: 8px;
  }
  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  /* hero section */
  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
        height: 37.5rem;
        width: 30rem;
    }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  /* more about me */
  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  /* skills icons */
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  /* projects section */
  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  /* contact form */
  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}